html, body{
    font-size: 1.5rem;
    text-align: center;
}
/*
page
*/

.inr{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/*
page-header
*/

.sel-header{
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
}

.sel-header_inr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sel-header_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sel-header-info_txt span{
    margin-right: 20px;
    display: block;
}

.sel-header-info_btn{
    padding: 10px 20px;
    background-color: rgb(0, 18, 122);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

/*
* campaign
*/

.campaign_visual{
    position: relative;
    height: 30px;
    padding-top: 10px;
    background-color: rgb(150, 150, 150);
}
.campaign_txt{
    font-size: 20px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}
/*
* main-visual
*/

.main-visual{
    position: relative;
    height: 480px;
    background: center center no-repeat;
    background-image: url("img/white_00055_background.jpg");
    background-size: 100% 480px;
}

.main-visual_ttl{
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
}

/*
intro-section
*/

/* section-header = 帯のスタイル */
.section-header{
    position: relative;
    padding: calc((87px - (30px * 1.6)) / 2) 0; /* 2行以上になる事を配慮する。 (height - (fontsize * lineHeight)) / 2 */
    text-align: center;
    background: rgb(150, 150, 150);
}

.section-header_ttl{
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}
/*
.section-header:after:{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-color: rgb(150, 150, 150) transparent transparent transparent;
    border-style: solid;
    border-width: 28px 28px 0;
    transform: translate(-50%, 100%);
    content: "";
}
*/
.intro-section_header{
    margin-bottom: 10px;
}

/*
nav
*/

.intro-section_navi{
    padding: 80px 0 80px;
}

.intro-section_navi ol{
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
    list-style: none;
}

.intro-section_navi ol li{
    position: relative;
}

.intro-section_navi ol li:after{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    transform: translateX(-50%) rotate(45deg);
    content: "";
}

.intro-section_navi ol li a{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    padding: 0 25px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30% 10%;
}

/*
main-contents
*/

.intro-section_block{
    display: flex;
    height: 400px;
}

.intro-section_block > *{
    width: 50%;
}

.intro-section_block:nth-child(even){
    flex-direction: row-reverse;
}

.intro-section_block:nth-child(1){
    background-image: url("img/image1.jpeg");
    background-size: 50% 400px;
}

.intro-section_block:nth-child(2){
    background-image: url("img/image2.jpeg");
    background-size: 50% 400px;
}

.intro-section_block:nth-child(3){
    background-image: url("img/image3.png");
    background-size: 50% 400px;
}

.intro-section_img-area{
    background: center center no-repeat;
    background-size: cover;
}

.intro-section_txt-area{
    box-sizing: border-box;
    padding: 25px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
}

.intro-section_txt-area h4{
    margin-bottom: 22px;
    line-height: 1.5;
    font-weight: normal;
    font-size: 1.8rem;
}

.intro-section_txt-area p{
    line-height: 1.5;
    font-size: 1.6rem;
}

/*
contact
*/

.intro-section_contact{
    padding: 100px 0;
}

.contact-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 40px 50px 40px 60px;
    background: rgb(150, 150, 150);
}

.contact-block_txt{
    font-size: 2rem;
}

#contact-block-txt_span1{
    display: block;
    font-size: 1.6rem;
}

#contact-block-txt_span2{
    display: block;
    font-size: 1.1rem;
}

.contact-block_btn{
    margin-right: 55px;
    width: 360px;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    background: rgb(0, 18, 122);
    border-radius: 20px;
}

/*
page-footer
*/

.sel-footer{
    padding: 40px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
}

.sel-footer small{
    display: block;
    font-size: 1.1rem;
    line-height: 1;
}